---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=tag%3AName&Filter.1.Value.1=Test-Stack&Timestamp=2015-01-02T20%3A48%3A24Z&Version=2014-09-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150102T204824Z
      X-Amz-Content-Sha256:
      - 136143095d6173b7cd647b7e8b5127dced2353a981480f7cedd7fb890ab8fbae
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_ID>/20150102/us-east-1/ec2/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=dbd36f8f166af3a1bfb114495fe1bff9cb44645255e2c2c80a281e02345ae176
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
            <requestId>8df16c8b-9abf-47fa-95e7-ce17be3f115d</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-901c72bf</reservationId>
                    <ownerId>001145812589</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-4e052724</groupId>
                            <groupName>Test-Stack-CoreOSSecurityGroup-QSQW06AUSOT</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-1be02bf2</instanceId>
                            <imageId>ami-f469f29c</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-169-211-140.ec2.internal</privateDnsName>
                            <dnsName>ec2-54-160-121-68.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>bork-knife-ec2</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m3.medium</instanceType>
                            <launchTime>2014-12-09T21:51:51.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1d</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-919dcaf8</kernelId>
                            <monitoring>
                                <state>enabled</state>
                            </monitoring>
                            <privateIpAddress>10.169.211.140</privateIpAddress>
                            <ipAddress>54.160.121.68</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-4e052724</groupId>
                                    <groupName>Test-Stack-CoreOSSecurityGroup-QSQW06AUSOT</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda</deviceName>
                                    <ebs>
                                        <volumeId>vol-64615d2b</volumeId>
                                        <status>attached</status>
                                        <attachTime>2014-12-09T21:51:55.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>fcf75afa-684d-41e8-a37a-baeba1a15b59_us-east-1d_1</clientToken>
                            <tagSet>
                                <item>
                                    <key>aws:cloudformation:stack-id</key>
                                    <value>arn:aws:cloudformation:us-east-1:001145812589:stack/Test-Stack/593d6510-7fed-11e4-9b1e-50018ffe9e62</value>
                                </item>
                                <item>
                                    <key>aws:autoscaling:groupName</key>
                                    <value>Test-Stack-CoreOSServerAutoScale-BMI6XBKS9956</value>
                                </item>
                                <item>
                                    <key>test</key>
                                    <value>true</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>Test-Stack</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-name</key>
                                    <value>Test-Stack</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:logical-id</key>
                                    <value>CoreOSServerAutoScale</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                    <requesterId>226008221399</requesterId>
                </item>
                <item>
                    <reservationId>r-a8b50746</reservationId>
                    <ownerId>001145812589</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-4e052724</groupId>
                            <groupName>Test-Stack-CoreOSSecurityGroup-QSQW06AUSOT</groupName>
                        </item>
                    </groupSet>
                    <instancesSet[...]
