---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/coreos.com/dist/aws/coreos-stable-pv.template
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - B10C2FB0CFAA58BF
      Content-Language:
      - en
      Last-Modified:
      - Fri, 02 Jan 2015 19:46:10 GMT
      Etag:
      - '"b2263a50004ccdf0f322c52714bf32a1"'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "{\n  \"AWSTemplateFormatVersion\": \"2010-09-09\",\n  \"Description\":
        \"CoreOS on EC2: http://coreos.com/docs/running-coreos/cloud-providers/ec2/\",\n
        \ \"Mappings\" : {\n      \"RegionMap\" : {\n\n          \"eu-central-1\"
        : {\n              \"AMI\" : \"ami-4e7d4d53\"\n          },\n\n          \"ap-northeast-1\"
        : {\n              \"AMI\" : \"ami-dccfc0dd\"\n          },\n\n          \"sa-east-1\"
        : {\n              \"AMI\" : \"ami-c904b4d4\"\n          },\n\n          \"ap-southeast-2\"
        : {\n              \"AMI\" : \"ami-d7e981ed\"\n          },\n\n          \"ap-southeast-1\"
        : {\n              \"AMI\" : \"ami-81406fd3\"\n          },\n\n          \"us-east-1\"
        : {\n              \"AMI\" : \"ami-7e5d3d16\"\n          },\n\n          \"us-west-2\"
        : {\n              \"AMI\" : \"ami-4fd4857f\"\n          },\n\n          \"us-west-1\"
        : {\n              \"AMI\" : \"ami-15fae850\"\n          },\n\n          \"eu-west-1\"
        : {\n              \"AMI\" : \"ami-7a3a840d\"\n          }\n\n      }\n  },\n
        \ \"Parameters\": {\n    \"InstanceType\" : {\n      \"Description\" : \"EC2
        PV instance type (m3.medium, etc). Note: m1.small is not supported.\",\n      \"Type\"
        : \"String\",\n      \"Default\" : \"m3.medium\",\n      \"AllowedValues\"
        : [\"m3.medium\", \"m3.large\", \"m3.xlarge\", \"m3.2xlarge\", \"m1.medium\",
        \"m1.large\", \"m1.xlarge\", \"c3.large\", \"c3.xlarge\", \"c3.2xlarge\",
        \"c3.4xlarge\", \"c3.8xlarge\", \"c1.medium\", \"c1.xlarge\", \"m2.xlarge\",
        \"m2.2xlarge\", \"m2.4xlarge\", \"hi1.4xlarge\", \"hs1.8xlarge\", \"t1.micro\"],\n
        \     \"ConstraintDescription\" : \"Must be a valid EC2 PV instance type.
        Note: m1.small is not supported.\"\n    },\n    \"ClusterSize\": {\n      \"Default\":
        \"3\",\n      \"MinValue\": \"3\",\n      \"MaxValue\": \"12\",\n      \"Description\":
        \"Number of nodes in cluster (3-12).\",\n      \"Type\": \"Number\"\n    },\n
        \   \"DiscoveryURL\": {\n      \"Description\": \"An unique etcd cluster discovery
        URL. Grab a new token from https://discovery.etcd.io/new\",\n      \"Type\":
        \"String\"\n    },\n    \"AdvertisedIPAddress\": {\n      \"Description\":
        \"Use 'private' if your etcd cluster is within one region or 'public' if it
        spans regions or cloud providers.\",\n      \"Default\": \"private\",\n      \"AllowedValues\":
        [\"private\", \"public\"],\n      \"Type\": \"String\"\n    },\n    \"AllowSSHFrom\":
        {\n      \"Description\": \"The net block (CIDR) that SSH is available to.\",\n
        \     \"Default\": \"0.0.0.0/0\",\n      \"Type\": \"String\"\n    },\n    \"KeyPair\"
        : {\n      \"Description\" : \"The name of an EC2 Key Pair to allow SSH access
        to the instance.\",\n      \"Type\" : \"String\"\n    }\n  },\n  \"Resources\":
        {\n    \"CoreOSSecurityGroup\": {\n      \"Type\": \"AWS::EC2::SecurityGroup\",\n
        \     \"Properties\": {\n        \"GroupDescription\": \"CoreOS SecurityGroup\",\n
        \       \"SecurityGroupIngress\": [\n          {\"IpProtocol\": \"tcp\", \"FromPort\":
        \"22\", \"ToPort\": \"22\", \"CidrIp\": {\"Ref\": \"AllowSSHFrom\"}}\n        ]\n
        \     }\n    },\n    \"Ingress4001\": {\n      \"Type\": \"AWS::EC2::SecurityGroupIngress\",\n
        \     \"Properties\": {\n        \"GroupName\": {\"Ref\": \"CoreOSSecurityGroup\"},
        \"IpProtocol\": \"tcp\", \"FromPort\": \"4001\", \"ToPort\": \"4001\", \"SourceSecurityGroupId\":
        {\n          \"Fn::GetAtt\" : [ \"CoreOSSecurityGroup\", \"GroupId\" ] \n
        \       }\n      }\n    },\n    \"Ingress7001\": {\n      \"Type\": \"AWS::EC2::SecurityGroupIngress\",\n
        \     \"Properties\": {\n        \"GroupName\": {\"Ref\": \"CoreOSSecurityGroup\"},
        \"IpProtocol\": \"tcp\", \"FromPort\": \"7001\", \"ToPort\": \"7001\", \"SourceSecurityGroupId\":
        {\n          \"Fn::GetAtt\" : [ \"CoreOSSecurityGroup\", \"GroupId\" ] \n
        \       } \n      }\n    },\n    \"CoreOSServerAutoScale\": {\n      \"Type\":
        \"AWS::AutoScaling::AutoScalingGroup\",\n      \"Properties\": {\n        \"AvailabilityZones\":
        {\"Fn::GetAZs\": \"\"},\n        \"LaunchConfigurationName\": {\"Ref\": \"CoreOSServerLaunchConfig\"},\n
        \       \"MinSize\": \"3\",\n        \"MaxSize\": \"12\",\n        \"DesiredCapacity\":
        {\"Ref\": \"ClusterSize\"},\n        \"Tags\": [\n            {\"Key\": \"Name\",
        \"Value\": { \"Ref\" : \"AWS::StackName\" }, \"PropagateAtLaunch\": true}\n
        \       ]\n      }\n    },\n    \"CoreOSServerLaunchConfig\": {\n      \"Type\":
        \"AWS::AutoScaling::LaunchConfiguration\",\n      \"Properties\": {\n        \"ImageId\"
        : { \"Fn::FindInMap\" : [ \"RegionMap\", { \"Ref\" : \"AWS::Region\" }, \"AMI\"
        ]},\n        \"InstanceType\": {\"Ref\": \"InstanceType\"},\n        \"KeyName\":
        {\"Ref\": \"KeyPair\"},\n        \"SecurityGroups\": [{\"Ref\": \"CoreOSSecurityGroup\"}],\n
        \       \"UserData\" : { \"Fn::Base64\":\n          { \"Fn::Join\": [ \"\",
        [\n            \"#cloud-config\\n\\n\",\n            \"coreos:\\n\",\n            \"
        \ etcd:\\n\",\n            \"    discovery: \", { \"Ref\": \"DiscoveryURL\"
        }, \"\\n\",\n            \"    addr: $\", { \"Ref\": \"AdvertisedIPAddress\"
        }, \"_ipv4:4001\\n\",\n            \"    peer-addr: $\", { \"Ref\": \"AdvertisedIPAddress\"
        }, \"_ipv4:7001\\n\",\n            \"  units:\\n\",\n            \"    - name:
        etcd.service\\n\",\n            \"      command: start\\n\",\n            \"
        \   - name: fleet.service\\n\",\n            \"      command: start\\n\"\n
        \           ] ]\n          }\n        }\n      }\n    }\n  }\n}\n"
  recorded_at: Fri, 02 Jan 2015 20:38:03 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=tag%3AName&Filter.1.Value.1=Test-Stack&Timestamp=2015-01-02T20%3A38%3A04Z&Version=2014-09-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150102T203804Z
      X-Amz-Content-Sha256:
      - 14b3ad43bfcc89331e6970cd36975f44c7e7d2b1d7d2c1544a87bdaa6d75f38a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_ID>/20150102/us-east-1/ec2/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=2db35591b3b119b402fa043fb8017013cb9afe55dab11d89d5c0bf958e924e9d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
            <requestId>faa1db42-2309-40fc-bdf6-15548ec15146</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-901c72bf</reservationId>
                    <ownerId>001145812589</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-4e052724</groupId>
                            <groupName>Test-Stack-CoreOSSecurityGroup-QSQW06AUSOT</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-1be02bf2</instanceId>
                            <imageId>ami-f469f29c</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-169-211-140.ec2.internal</privateDnsName>
                            <dnsName>ec2-54-160-121-68.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>bork-knife-ec2</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m3.medium</instanceType>
                            <launchTime>2014-12-09T21:51:51.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1d</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-919dcaf8</kernelId>
                            <monitoring>
                                <state>enabled</state>
                            </monitoring>
                            <privateIpAddress>10.169.211.140</privateIpAddress>
                            <ipAddress>54.160.121.68</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-4e052724</groupId>
                                    <groupName>Test-Stack-CoreOSSecurityGroup-QSQW06AUSOT</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda</deviceName>
                                    <ebs>
                                        <volumeId>vol-64615d2b</volumeId>
                                        <status>attached</status>
                                        <attachTime>2014-12-09T21:51:55.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>fcf75afa-684d-41e8-a37a-baeba1a15b59_us-east-1d_1</clientToken>
                            <tagSet>
                                <item>
                                    <key>aws:cloudformation:stack-id</key>
                                    <value>arn:aws:cloudformation:us-east-1:001145812589:stack/Test-Stack/593d6510-7fed-11e4-9b1e-50018ffe9e62</value>
                                </item>
                                <item>
                                    <key>aws:autoscaling:groupName</key>
                                    <value>Test-Stack-CoreOSServerAutoScale-BMI6XBKS9956</value>
                                </item>
                                <item>
                                    <key>test</key>
                                    <value>true</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>Test-Stack</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-name</key>
                                    <value>Test-Stack</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:logical-id</key>
                                    <value>CoreOSServerAutoScale</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                    <requesterId>226008221399</requesterId>
                </item>
                <item>
                    <reservationId>r-a8b50746</reservationId>
                    <ownerId>001145812589</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-4e052724</groupId>
                            <groupName>Test-Stack-CoreOSSecurityGroup-QSQW06AUSOT</groupName>
                        </item>
                    </groupSet>
                    <instancesSet[...]
